<!--https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light navbar-fixed">
  <a class="navbar-brand" routerLink="">Restaurants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="add">Add Restaurant</a>
      <a class="nav-item nav-link" routerLink="update">Update Restaurant</a>
      <a class="nav-item nav-link" routerLink="login">Login</a>
      <a class="nav-item nav-link" routerLink="register">Register</a>
    </div>
  </div>
</nav>
<div style="margin-bottom: 50px; margin-top: 50px" class="container">
  <router-outlet></router-outlet>
  <footer style=" height: 40px; padding: 5px; background-color: aqua; position: fixed; left: 0; bottom: 0; width: 100%; text-align:center">
    <p><a style="color: red" href="https://github.com/sfktrkl">Register your restaurant with us.</a></p>
  </footer>
</div>
