<!--https://getbootstrap.com/docs/4.0/content/tables/ -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">E-mail</th>
      <th scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of collection | keyvalue">
      <td>{{item.value.id}}</td>
      <td>{{item.value.name}}</td>
      <td>{{item.value.address}}</td>
      <td>{{item.value.email}}</td>
      <!--https://www.w3schools.com/icons/fontawesome_icons_intro.asp -->
      <!-- Use icon to crate a button to delete items. -->
      <td><i (click)="deleteRestaurant(item.value.id)" class="fa fa-trash" style="font-size: 20px; color: red; cursor: pointer"></i></td>
    </tr>
  </tbody>
</table>
